<!DOCTYPE html>
<html>
  
  <style>
    table {
      width: 100%;
      border: 1px solid #444444;
    }
    th, td {
      border: 1px solid #444444;
    }
    
  </style>


  <head>
    <meta charset="utf-8">
    {% load static %}
    <script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
  </head>
  <body>
    /* 공지사항 상세 */
    <form id="notice_detail_form" method="POST">
      {% csrf_token %}
      <table id="notice_detail" name="notice_detail">
        <tbody>
          <!--
          <tr>
            <td>아이디</td>
            <td><input type="text" id="regist_id" name="regist_id" readonly value="{{ request.session.user_id }}"/></td>
          </tr>
           -->
          <tr>
            <td>제목</td>
              {% if request_form == 'search' %}
              <td><input type="text" id="notice_subject" name="notice_subject" value="{{noti.notice_subject}}"/></td>
              {% elif request_form == 'write' %}
              <td><input type="text" id="notice_subject" name="notice_subject"/></td>
              {% endif %}
          </tr>

          <tr>
            <td>내용</td>
            <td><textarea id="notice_memo" name="notice_memo"></textarea></td>
          </tr>

          <tr>
            <td>등록일시</td>
            <td><input type="text" id="regist_dt" name="regist_dt"/></td>
          </tr>
          
        </tbody>
      </table>  
    </form>

    <button id="submit_btn" name="submit_btn">제출하기</button>
    <button id="move_list_page" name="move_list_page">리스트페이지로 이동</button>
    <button id="move_main_page" name="move_main_page">메인화면으로 이동</button>
  </body>

  <script type="text/javascript">
    $("#submit_btn").click(function(){
      $("#notice_detail_form").attr("action","{% url 'notice_save' %}");  
      $("#notice_detail_form").submit();
    });
    $("#move_list_page").click(function(){
      
    });
    $("#move_main_page").click(function(){
      $("#notice_detail_form").attr("action","{% url 'notice_save' %}");  
      $("#notice_detail_form").submit();
    });


  </script>

</html>