<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <script src="{% static '/js/jquery-3.6.0.min.js' %}"></script> 
  </head>
  <body>
      <table id = "meeting_table">
        <thead>
          <tr>
            <th></th>
            <th>미팅룸 이름</th>
            <th>Uri</th>
            <th>Call ID</th>
            <th>그룹 이름</th>
            <th>VIEW</th>
          </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
  </body>


  <script type="text/javascript">
    $(document).ready(function(){
      
    });


  </script>

</html>